.avatar {
  height: 100px;
}

.pokeball {
  width: 20px;
}

div {
  text-align: center;
  padding: 10px;
}

.title {
  background-color: #d0d0d0;
}

.buttons {
  background-color: #d0d0d0;
  border-radius: 0 0 10px 10px;
}

.release {
  background-color: #2b8452;
}

.release:hover {
  background-color: #22643e;
}

.catch {
  background-color: #db392d;
}

.catch:hover {
  background-color: #a31f16;
}
