<div class="avatar">
  <img [src]="imageUrl" [alt]="pokemon.name" class="avatar" />
  <img
    *ngIf="captured"
    src="./assets/pokeball.png"
    [alt]="captured"
    class="pokeball"
  />
</div>
<div class="title">
  {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }} (#{{
    pokemon.id
  }})
</div>
<div class="buttons">
  <button *ngIf="captured" (click)="signalReleasePokemon()" class="release">
    Release
  </button>
  <button *ngIf="!captured" (click)="signalCatchPokemon()" class="catch">
    Catch
  </button>
</div>
